extends layout

block content
  table
    th Date
    th Price in (USD)
    th 5-Day Moving Average
    th 5-Day Exponential Moving Average
    each data in historicalData
      tr
        td= data.date
        td= data.price
        td= data.sma
